---
import "../global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
---


<BaseLayout
  title="Welcome to Rats Journey"
  description="This is your starting page."
  showToc={false}
>
  <p>This is your starting page.</p>
</BaseLayout>
  