---
import "../global.scss";
import Sidebar from "../components/Sidebar";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Rats Journey" description="Main page" />
  </head>
  <body>
    <Sidebar client:load />
    <main style="margin-left: 220px; padding: 2rem;">
      <h1>Welcome to Rats Journey</h1>
      <p>This is your starting page.</p>
    </main>
  </body>
</html>
