---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import { getAllPosts, getAllProjects } from "../BlogUtils";

const projects = await getAllProjects();

const items = projects.map((project) => ({
  title: project.title,
  description: project.description,
  tags: project.tags ?? [],
  period: project.period,
  slug: project.slug,
  type: "project" as const,
}));
---

<BaseLayout showToc={false} title="Projects" description="My main projects.">
  {
    items.length > 0 ? (
      <PostList items={items} />
    ) : (
      <p>
        No projects posted yet, in the meantime check my{" "}
        <a
          href="https://github.com/DaviMoreira27"
          target="_blank"
          rel="noopener noreferrer"
        >
          Github repo.
        </a>
        =)
      </p>
    )
  }
</BaseLayout>
